nav {
    background: #eee; 
    border: 1px solid rgb(71, 86, 121);
    width: 300px; 
    /* ширина навигационного меню (списка) */
    position: fixed;
    /* позиция привязана к точке на экране */
    top: 25px;
    left: 10px;
    padding: 10px;
    box-sizing: border-box;
    opacity: .1;
    transform: all 1s ease;
    height: 90vh;
    /* добавили высоту */
    overflow-y: scroll;
    /* добавляем функцию scroll по вертикали */


}
nav:hover{
    opacity: 1; 
    /* 100% */
    transition: all 0.5s ease;
}